<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/style.css">

    
</head>
<body>

    <!-- Navbar -->
    <nav>
        <div>
            <a href="home.html">Home</a>
            <a href="hobbies.html">Hobbies</a>
            <a href="projects.html">Projects</a>
        </div>
        <div>
            <img src="../resources/img/icon.png" alt="Icon" style="width: 40px; height: 40px;">
        </div>
    </nav>

    <!-- Hobby Cards Section -->
    <div class="hobby-container">
        <!-- Hobby 1 -->
        <div class="hobby-card">
            <img src="../resources/img/ecco2k.png" alt="Ecco2k oil painting">
            <img src="../resources/img/wadecar.png" alt="Porsche oil painting">
            <img src="../resources/img/IMG_0791 (1).jpg" alt="Tommy cat oil painting">
            <h3>Painting</h3>
            <p>I have been drawing and painting since the dawn of time. My preferred painting medium for realism is oil paint, and for psychedelia and abstract I enjoy mixed media.</p>
            <p>For more examples of my art, visit my art instagram <a href="https://www.instagram.com/cxli.art/">here</a>.</p>
        </div>

        <!-- Hobby 2 -->
        <div class="hobby-card">
            <img src="../resources/img/IMG_7850.jpg" alt="Tattoo photos 2">
            <img src="../resources/img/IMG_7851.jpg" alt="Tattoo photos 3">
            <h3>Tattoos</h3>
            <p>I taught myself how to tattoo in the fall of 2022. Since then, I have done almost 500 pieces. Tattooing is my main source of income at the moment and it is one of my favorite things in the world to do.</p>
            <p>For more examples of my tattoos, visit my tattoo instagram <a href="https://www.instagram.com/cxli.ink/">here</a>.</p>
        </div>

        <!-- Hobby 3 -->
        <div class="hobby-card">
            <img src="../resources/img/SAM_1044.JPG" alt="Creature on fire">
            <img src="../resources/img/IMG_8568 (1).PNG" alt="Creature on fire">
            <img src="../resources/img/IMG_0095.JPG" alt="Creature in the light">
            <h3>Bone Art</h3>
            <p>I collect and decompose roadkill. I clean the bones and turn them into wearable art and decorations. I have been doing this since 2018. It is a smelly hobby but it is unique and I enjoy providing life after death to these animals.</p>
            <p>Some of my bone art can be seen <a href="https://www.instagram.com/cxli.xnnx/">here</a>.</p>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; To book a tattoo, contact me on instagram<a href="https://www.instagram.com/cxli.ink/">here</a>. <a href="https://github.com/bloodypinecone">Here is my github.</a></p>
    </footer>

</body>
</html>
