<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Homepage</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/style.css">
</head>

<body>
    <!-- Navbar -->
    <nav>
        <div>
            <a href="home.html">Home</a>
            <a href="hobbies.html">Hobbies</a>
            <a href="projects.html">Projects</a>
        </div>
        <div>
            <img src="../resources/img/icon.png" alt="Icon" style="width: 40px; height: 40px;">
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container">
        <div class="image-text">
            <img src="../resources/img/IMG_2252.jpeg" alt="Picture of me">
            <div>
                <h1>Callianna</h1>
                <p>Multimedia artist. </p>
            </div>
        </div>

        <p><a href="resume.html">Resume</a></p>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; To book a tattoo, contact me on instagram<a href="https://www.instagram.com/cxli.ink/">here</a>. <a href="https://github.com/bloodypinecone">Here is my github.</a></p>
        
    </footer>

</body>
</html>
